<!-- Hero -->
<div class="explore-hero">
  <h1>Welcome to HobbyHive</h1>
  <p>Choose a hobby you love</p>

  <!-- LOGOUT BUTTON -->
  <button class="logout-btn" (click)="logout()">
    Logout
  </button>
</div>

<!-- Loading -->
<p *ngIf="loading" class="loading-text">Loading workshops...</p>

<!-- Empty -->
<p *ngIf="!loading && workshops.length === 0" class="empty-text">
  No workshops available
</p>

<!-- Cards -->
<div class="explore-grid" *ngIf="!loading && workshops.length > 0">
  <div class="cards-container">

    <div class="card" *ngFor="let w of workshops">
      <img [src]="w.image" alt="{{ w.title }}" />

      <h3>{{ w.title }}</h3>
      <p>{{ w.description }}</p>

      <div class="card-buttons">
        <button class="view" (click)="openWorkshop(w.id)">View</button>
        <button class="add" (click)="openWorkshop(w.id)">Add</button>
      </div>
    </div>

  </div>
</div>
